* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #153677, #4e085f);
}

.container {
    height: 100%;
    width: 100%;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
    margin: 100px auto 20px;
}

h3 {
    font-weight: 700;
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 20px;
    padding-left: 20px;
}

.input-box #task-input {
    padding: 10px;
    border: none;
    background: transparent;
    flex: 1;
    outline: none;

}

.input-box button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    border-radius: 40px;
    font-size: 17px;

}